:root {
  font-family: 'Product Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";

@theme {
  --color-gdgBlue: #4285F4;
  --color-gdgYellow: #f9ab00;
  --color-gdgGreen: #34a853;
  --color-gdgRed: #ea4335;

}

@import "tailwindcss/utilities";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1a1a1a;
    background-color: #ffffff;
  }
}
